header{
    text-align: center;
}
h1,h2,h3,h4{
    text-align: center;
}

h2,h3,h4{
    color:white;
    background-color: black;
}

div{
    background-color: bisque;
    text-align: center;
    border-style: solid;
    padding: 50px;
}

p{
    color:green;
    font-family: Arial;
    font-style: italic;
    font-size: 22px;
}
#contacto{
    font-size: 35px;
    background-color: green;
}

a:hover{
    color: cyan;
}